@import url("../css/style.css");

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 16px;
    max-inline-size: 750px;
    margin:auto;
    flex: 1;
    color: white;
}

.form p,h1{
    max-inline-size: 400px;
    margin: auto;
}

.form div{
    display: flex;
    flex-direction: column;
}

.form input, .form textarea{
    border: 2px solid white;
    border-radius: 8px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    margin-block-start: 6px;
    font-family: var(--Main-Family);
}

.button {
    background: var(--Accent-color);
    color: var(--Background-body);
    border: none;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1em;
    font-family: var(--Main-Family);
  }

  .button:hover {
      background-color: white;
      
  }


  .button-secondary {
    background-color: var(--Background-body);
    color: white;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
    font-weight: bold;
    font-size: 1em;
    font-family: var(--Main-Family);
    border: none;
}

  
#trucazo{
    opacity: 0%;
  }


  .contact-form {
      min-width: 55%;
  }

  .contact-flex {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    background-image: url("/images/background-contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

  .contact-image {
      width: 100%;
      text-align: center;
  }

  .contact-image img {
    max-width: 80%;
    height: auto;
  }


@media screen and (min-width: 768px){

    .form {
        align-self: stretch;
    }
}